html { 
	background: url('../images/us.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-size: 75;
	color: black;
	text-align: center;
}

#aboutme {
	background: rgba(255, 255, 255, .9);
	position: relative;
	top: 0px;
	left: 50px;
	width: 350px;
	padding: 20px;
	font-size: 20;
	color: #707070;
	font-family: Helvetica;
}

#aboutme a {
	color: #6495ED;
}

#resources {
	background: rgba(255, 255, 255, .9);
	position: relative;
	top: 230px;
	left: 50px;
	width: 350px;
	padding: 20px;
	font-size: 20;
	color: #707070;
	font-family: Helvetica;
}

#resources a {
	color: #6495ED;
}