.calendar-note {
    margin-bottom: 1em;
    font-weight: bold;
    color: #666;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background: #eaf4fb;
    border: 2px solid #90c3e6;
    border-radius: 5px;
    padding: 0.3em 0.7em;
    box-shadow: 0 2px 8px rgba(144, 195, 230, 0.08);
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
}

.calendar-timezone-note {
    font-size: 1rem;
    margin-bottom: 1em;
}
