.collapse-panel {
    position: relative;
    padding-bottom: 50px;
}

.more-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    background-color: transparent;
}

.more-button {
    cursor: pointer;
    display: inline-block;
    color: #d2b48c;
}

.more-button .fa-chevron-down {
    margin-right: 5px;
    color: #d2b48c;
}
